#cover {
    background: url('../../../../assets/images/maranata.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;

    color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 4rem;
    letter-spacing: 3rem;
    margin-left: 3rem;
}

#about {
    padding: 20px;
    height: calc(100vh - 88px);
    display: flex;
    flex-wrap: wrap;
}

#about * {
    width: 50%;
    display: flex;
    flex-direction: column;
}

#about * span {
    width: 100%;
}

#about .contacts, .meetings, .worship {
    padding: 3px;
}

#about .contacts {
    width: 100%;
}

#about .contacts div {
    flex-direction: row;
    width: 100%;
}

#about .contacts div div {
    flex-direction: column;
    width: 50%;
}

#about .contacts div div a {
    color: #333333;
}

@media (max-width: 990px) {
    h1 {
        font-size: 3rem;
        letter-spacing: 2rem;
        margin-left: 2rem;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
        letter-spacing: 1.5rem;
        margin-left: 1.5rem;
    }
}

@media (max-width: 550px) {
    h1 {
        font-size: 2rem;
        letter-spacing: 1rem;
        margin-left: 1rem;
    }

    #about .contacts h4 {
        width: 100%;
        text-align: center;
    }

    #about .contacts div div:last-child a {
        width: 100%;
        text-align: right;
    }

    #about .meetings {
        text-align: right;
    }
    
    #about .meetings h4 {
        width: 100%;
    }
}